body {
  background-color: #ffff66;
}

.card {
  width: 125px;
  height: 200px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

table {
  margin: auto;
}

h1 {
  text-align: center;
}
